.main-div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.table-kevin {
    width: 50%;
    border-collapse: collapse;
    border-spacing: 0;
    border: 1px solid #000;
}

.table-kevin th {
    border: 1px solid #000;
    padding: 10px;
    text-align: center;
    background-color: #ffd071;
    font-weight: lighter;
}

.table-kevin td {
    border: 1px solid #000;
    padding: 10px;
    text-align: center;
}